:root {
    --header-height: 70px;
  
    /* Colores */
    --bg-color0: #275950;
    --bg-color: #111;
    --bg-color2: #5B6876;
    --text-primary: #FFFFFF;
    --text-second: #8491A0;
    --first-box-bg: #181823;
    --second-box-bg: #FFF3E4;
    --icon: #5221E6;
  
    /* Tipografía */
    --body-font:system-ui, -apple-system, 'Sen', 'Open Sans', 'Helvetica Neue', sans-serif;
    --big-font-size: 32px;
    --normal-font-size: 16px;
    --small-font-size: 14px;
    --smaller-font-size: 12px;
  
    /* Grosores */
    --font-medium: 400;
    --font-semi-bold: 600;
    --font-bold: 700;
  
    /* Margenes */
    --mr-1: 8px;
    --mr-2: 16px;
    --mr-3: 20px;
    --mr-4: 26px;
    --mr-5: 32px;
  
    /* z-index */
    --z-modal: 10;
    --z-fixed: 100;
  
    /* Sombras */
    --box-shadow: 0px 10px 100px rgba(0, 0, 0, .10);
    --text-shadow: 2px 3px #ee991a55
  }
  
  @media (min-width: 768px) {
    :root {
      --header-height: 90px;
      --big-font-size: 38px;
      --normal-font-size: 18px;
      --small-font-size: 16px;
      --smaller-font-size: 14px;
    }
  }

  html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  *, *::before, *::after {
    box-sizing: inherit;
  }
  
  body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    margin: 0;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  .section {
    padding: 4rem 0;
  }
  
  .section__title {
    color: var(--text-second);
    text-align: center;
    margin: var(--mr-3) 0;
  }
  
  .grid--container {
    max-width: 1024px;
    display: grid;
    margin: 0 var(--mr-3);
  }
  
  .btn {
    display: inline-block;
    padding: 1.5rem 4rem;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s ease-in-out;
  }
  
  .btn--primary {
    background-color: var(--text-primary);
  }
  
  .btn:hover {
    transform: translateY(-4px);
    box-shadow: var(--box-shadow);
  }
  
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track{
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb{
    background-color: rgba(34, 34, 34, .3);
  }

  .header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: var(--bg-color);
    box-shadow: var(--box-shadow);
    z-index: var(--z-fixed);
    justify-content: space-between;
  }

  .navbar {
    height: var(--header-height);
    display: flex;
    justify-content: left;
    align-items: center;
    width: 50%;
  }

  .navbar2 {
    height: var(--header-height);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    padding-right: 2rem;
  }
  
  .navbar__logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: .25rem;
    font-weight: var(--font-semi-bold);
    padding: 0 0 0 50px;
  }

  .navbar__image {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    height: 50px;
    width: 80px;
  }
  
  .btn__close{
    position: absolute;
    top: var(--mr-2);
    right: var(--mr-2);
    background-color: var(--bg-color);
    width: 38px;
    height: 38px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .btn__open,
  .btn__close,
  .navbar__logo{
    font-size: 2.2rem;
    color: #FFFFFF;
    transition: background .3s;
  }
  
  .btn__open:hover{
    background-color: var(--bg-color0);
  }
  
  .btn__close:hover{
    background-color: var(--bg-color0);
  }
  
  .navbar__list{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navbar__item {
    margin-bottom: var(--mr-2);
  }
  
  .navbar__link{
    color: #FFFFFF;
    font-size: 1.2rem;
    font-weight: var(--font-semi-bold);
    transition: color .3s;
  }
  
  .navbar__link:hover{
    color: var(--icon);
  }
  
  .navbar__menu:target{
    top: 0;
  }

  .home {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    justify-content: center;
    align-items: center;
  }

  .home__info {
    background-color: var(--bg-color0);
  }

  .home__container {
    display: flex;
    row-gap: 2rem;
    padding: var(--header-height) 0 3rem;
    background-color: var(--bg-color);
    width: 50%;
  }

  .home__image{
    display: flex;
    width: 500px;
    justify-content: center;
    align-items: center;
  }

  .home__image img{
    border-radius: 40%;
  }
  
  .home__title,
  .home__description {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-primary);
  }
  
  .home__title {
    margin: 0;
    margin-bottom: var(--mr-2);
    text-transform: uppercase;
  }
  
  .home__buttons {
    text-align: center;
  }
  
  /* ============= About ============= */
  .about {
    background-color: var(--bg-color);
  }
  
  .about__description {
    padding: 2rem;
    color: var(--text-primary);
    text-align: center;
  }
  
  .about__skills {
    margin: 2.5rem 0;
  }
  
  .about__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(295px, 1fr));
    gap: 2rem;
  }
  
  .about__card {
    background-color: #fff;
    padding: 4rem 2rem 2rem;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
  }
  
  .about__card .bx {
    padding: 12px;
    font-size: 2rem;
    border-radius: 50%;
    background-color: #f0f0f0;
  }
  
  .about__tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .about__tags-title{
    color: var(--text-primary);
  }
  
  .about__tag {
    display: inline-block;
    padding: .75rem 1.5rem;
    font-weight: var(--font-semi-bold);
    font-size: var(--smaller-font-size);
    background-color: #f0f0f0;
    border-radius: 5px;
  }
  
  /* ============= Projects ============= */
  .projects{
    background-color: var(--second-box-bg);
  }

  .projects__container {
    gap: 2rem;
  }
  
  .projects__inner {
    margin: 0;
  }
  
  .projects__image {
    display: flex;
    border-radius: 5px;
  }
  
  .projects__image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 6px 11px 13px 0 #0000002e;
  }
  
  .projects__info {
    padding: 1rem;
  }
  
  .projects__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  
  .projects__button {
    padding: .75rem 1.5rem;
    font-size: var(--smaller-font-size);
  }
  
  /* ============= Contact ============= */
  .contact {
    background-color: #f5f5f5;
  }
  
  .contact__container {
    gap: 2rem;
  }
  
  .contatc__info-data {
    font-style: normal;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 0;
  }
  
  .contact__form {
    width: 100%;
    padding: 3rem 1.5rem 2rem;
    background-color: #fff;
    border-radius: 5px;
    margin: 0 auto;
  }
  
  .contact__form-group {
    margin-bottom: var(--mr-4);
  }
  
  .contact__form-label {
    display: block;
    margin-bottom: var(--mr-1);
  }
  
  .contact__form-input {
    width: 100%;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: var(--font-semi-bold);
    border-radius: 5px;
    background-color: #ebebeb;
    border: 1px solid #f0f0f0;
  }
  
  textarea {
    resize: none;
  }
  
  /* ============= Footer ============= */
  .footer {
    background-color: #111;
    color: #efefef;
    padding-bottom: 2rem;
  }
  
  .footer__container {
    gap: 2rem;
  }
  
  .footer__title {
    font-size: 1.5rem;
  }
  
  .footer__social-list {
    display: flex;
    gap: var(--mr-2);
    font-size: 1.5rem;
  }
  
  .footer__social-link {
    color: #fff;
    transition: text-shadow .3s;
  }
  
  .footer__social-link:hover{
   text-shadow: var(--text-shadow);
  }
  
  .footer__copy {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 0;
    border-top: 1px solid #222;
    padding-top: 2rem;
  }
  
  /* ============= Media Queries ============= */
  
  @media (max-width: 768px) {
    .navbar__menu {
      position: fixed;
      top: -100%;
      left: 0;
      width: 100%;
      border-radius: 0 0 12px 12px;
      background-color: var(--bg-color);
      box-shadow: 0px 1px 9px 2px #00000024;
      padding: 4.5rem 1rem 2rem;
      transition: .6s;
    }
  }
  
  @media screen and (min-width: 768px) {
    .section {
      padding: 6rem 0 5rem;
    }
  
    .btn__open,
    .btn__close {
      display: none;
    }

    .header {
      display: flex;
      flex-direction: row;
      width: 100%;
      background-color: var(--bg-color0);
      box-shadow: var(--box-shadow);
      justify-content: space-between;
    }
  
    .navbar__list {
      flex-direction: row;
      justify-content: center;
      align-content: center;
      gap: 2rem;
    }

    .navbar{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 50%;
      background-color: var(--bg-color);
    }

    .navbar2{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 50%;
      background-color: var(--bg-color0);
    }
  
    .navbar__item {
      margin: 0;
    }
  
    .home__container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .home__image {
      width: clamp(min(375px, 100%), 48vw, 500px);
      grid-column: 1 / 2;
      grid-row: 1 / 4;
      transform: translateY(1rem);
      
    }
    .home {
      display: flex;
      flex-direction: column;
      width: 100%;
      background-color: var(--bg-color0);
      box-shadow: var(--box-shadow);
      justify-content: space-between;
    }
    
    .home__info {
      /* grid-column: 1 / 2;
      grid-row: 1 / 2; */
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50%;
      background-color: var(--bg-color0);
      
    }
  
    .home__title {
      margin-top: 2rem;
      font-size: 2rem;
    }
  
    .home__description {
      font-size: 1.3rem;
    }
  
    .home__social-link {
      font-size: 2rem;
    }
  
    .home__buttons {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .about__skills {
      grid-template-columns: 1fr .5fr;
      gap: 2rem;
    }
  
    .projects__container {
      padding: 3rem 0;
      gap: 5rem;
    }
  
    .projects__inner {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .projects__container .projects__project:nth-child(even) .projects__image {
      order: 2
    }
  
    .projects__container .projects__project:nth-child(even) .projects__info {
      order: 1;
      text-align: right;
    }
  
    .projects__container .projects__project:nth-child(even) .projects__buttons {
      justify-content: flex-end;
    }
  
    .contact__container {
      grid-template-columns: .5fr 1fr;
      justify-content: center;
    }
  
    .footer__container {
      grid-template-columns: repeat(2, 1fr);
      justify-content: center;
    }
  
  }

  @media (min-width: 769px) {
    .grid--container {
      margin: 0 auto;
    }

    .home{
      flex-direction: row;
      align-content: center;
      justify-content: center;
    }
  } 

  @media (min-width: 1024px) {
    .grid--container {
      margin: 0 auto;
    }

    .home{
      flex-direction: row;
      align-content: center;
      justify-content: center;
    }
  } 